@charset "UTF-8";
/* Acá van los imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.texto-campo--color1 {
  background-color: blue; }

.texto-campo--color2 {
  background-color: black; }

.texto-campo--color3 {
  background-color: grey; }

.texto-campo--color4 {
  background-color: white; }

.texto-campo--color5 {
  background-color: #828b94; }

.texto-campo--colo6 {
  background-color: #191c1f; }

/* Acá van las selecciones */
a {
  text-align: center; }

h1 {
  text-align: center;
  color: white;
  border-right: 100px; }

h2 {
  text-align: center;
  color: white; }

h3 {
  font-size: 22px; }

header {
  grid-area: header; }

hr {
  color: white; }

body {
  background: #020024;
  background: linear-gradient(323deg, #020024 0%, #737383 40%, #c2c9c9 100%); }

div ul {
  align-self: center;
  text-align: center; }

/* div ul li {
    display: inline;
    margin-right: 10px;
} */
div ul li a {
  color: white; }

form {
  background-color: white;
  color: black; }

footer {
  grid-area: footer; }

main {
  grid-area: main; }

/* Acá van las clases */
.anim1 {
  animation: anim1;
  animation-duration: 10s;
  animation-iteration-count: 10; }

.anim2 {
  animation: anim2;
  animation-duration: 7s;
  animation-iteration-count: 14; }

.anim3 {
  animation: anim3;
  animation-duration: 5s;
  animation-iteration-count: 20; }

.article-1 {
  grid-area: article-1; }

.article-2 {
  grid-area: article-2;
  padding: 20px; }

.article-3 {
  grid-area: article-3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.black {
  color: black; }

.black-bordered {
  padding: 5px 1px;
  border: solid;
  border-color: black;
  border-radius: 2%;
  border-width: 3px; }

.big-text {
  font-size: 22px; }

.btc-anim {
  grid-area: "btc-anim"; }

.btc-chart {
  grid-area: "btc-chart";
  background-color: black; }

.btn-black {
  background-color: black;
  border-radius: 10px;
  border: 0;
  color: white;
  font-family: Lato, sans-serif;
  padding: 7px;
  text-decoration: none;
  margin: 5px 10px 10px 10px; }

.btn-horizontal {
  background-color: #828b94;
  border-radius: 10px;
  border: 0;
  color: black;
  font-family: Lato, sans-serif;
  padding: 5px;
  text-decoration: none;
  margin: 0px 0px 5px 0px;
  font-size: 12px; }

.btn-send {
  color: black;
  border-radius: 5px;
  border-color: white; }

.btn-white {
  background-color: white;
  border-radius: 10px;
  border: 0;
  color: #191c1f;
  font-family: Lato, sans-serif;
  padding: 7px;
  text-decoration: none;
  margin: 5px 10px 10px 10px; }

.centered-menu {
  border: solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.container {
  /* Este código es para centrar las clases */
  display: flex;
  justify-content: center; }

.container-special {
  /* Este código es para centrar las clases */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 300px;
  align-items: center; }

.config {
  grid-area: config;
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }

.crypto-prices {
  grid-area: crypto-prices;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.empty {
  background-color: transparent;
  grid-area: empty; }

.form-centered {
  /* Este código es para modificar el form */
  display: block;
  background-color: grey;
  width: 300px;
  height: 250px;
  border-radius: 4px; }

.display-inline {
  display: inline; }

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.flex-special {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }

.footer {
  background-color: black;
  text-align: center;
  border-radius: 4px; }

.flex-display-tipos {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start; }

.grid-main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 300px 300px;
  grid-template-areas: "article-1 article-2" "article-1 article-2" "article-3 article-3";
  grid-column-gap: 5px;
  overflow: scroll; }

.grid-header {
  display: grid;
  grid-template-columns: 20% 65% 15%;
  grid-template-rows: 90px 90px;
  grid-template-areas: "logo page-title config" "empty crypto-prices config";
  background-color: #c7ccd6; }

.iframe-yt {
  width: 560;
  height: 315; }

.inferior {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.images-1 {
  grid-area: images-1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.images-2 {
  grid-area: images-2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.image-background {
  background-image: url("../images/background2.jpg"); }

.image-team {
  width: 560;
  height: 300; }

.inline {
  display: inline; }

.justified {
  text-align: justify; }

.logo {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.left-align {
  text-align: left; }

.low-margin {
  margin: 5px 0px; }

.main-header {
  background-color: #4021ad; }

.navigation-bar {
  background-color: transparent; }

.not-underlined {
  text-decoration: none; }

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  grid-area: page-title; }

.rotada {
  transform: rotate(1deg); }

.text-1 {
  grid-area: text-1; }

.text-centered {
  text-align: center; }

.side-margined {
  margin: 0 5px; }

.selectable-box {
  background-color: #1d55be;
  border-radius: 5px;
  border: solid;
  margin: 10px;
  display: inline;
  border-color: white;
  text-align: center;
  padding: 10px; }

.superior {
  display: flex;
  flex: row;
  justify-content: center; }

.upper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #c7ccd6; }

.u-left {
  display: flex;
  flex-flow: row;
  justify-content: left; }

.u-center {
  display: block;
  width: 60%; }

.u-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.white {
  color: white; }

/* Acá van los id */
#bold-footer-text {
  font-weight: bold;
  font-size: 24px;
  color: white;
  font-family: 'Open Sans', sans-serif; }

#grilla {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 100px 1fr 100px;
  grid-gap: 1rem;
  grid-template-areas: "header"  "main"  "footer"; }

#grilla-dos {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
  grid-template-areas: "parte1 parte2"; }

#h2-title {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  font-size: 25px;
  margin: 5px; }

#main-title {
  text-decoration: none;
  color: black;
  font-family: Lato, sans-serif;
  font-size: 45px;
  text-align: center;
  margin: 5px 0px 5px 0px; }

#special-ordered-list {
  list-style-type: upper-roman; }

#underlined {
  text-decoration: underline; }

/* Acá van los media queries */
@media screen and (max-width: 1050px) {
  .grid-header {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center; } }

@media screen and (max-width: 600px) {
  .iframe-yt {
    width: 300;
    height: 180;
    background-color: red; }
  .image-team {
    width: 300;
    height: 180; } }

/* Acá van las animaciones */
@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes anim1 {
  0% {
    background-color: lightgreen; }
  50% {
    background-color: green; }
  75% {
    background-color: red; }
  100% {
    background-color: lightcoral; } }

@keyframes anim2 {
  0% {
    background-color: green; }
  50% {
    background-color: red; }
  75% {
    background-color: lavender; }
  100% {
    background-color: salmon; } }

@keyframes anim3 {
  0% {
    background-color: green; }
  50% {
    background-color: lightgreen; }
  100% {
    background-color: red; } }
